@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    /*remove browser defualt settings*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $main-background-color;
}

/* Style header*/
.header-intro {
    background-color: $accent-color;
    text-align: $center-text;
    color: $font-alternative-color;
    height: $height-header;
}

/*style img header*/
.img-style {
    height: 87px;
    width: 87px;
    border-radius: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.under-header {
    background-color: #3b4444;
}

.pokemon-avatar {
    margin: $pokemon-avatar-margin;
    height: $pokemon-avatar-height;
    width: $pokemon-avatar-width;
    border-radius: $pokemon-avatar-radius;
}

/* Style the pokemon list*/
#pokemonList {
    list-style: none;
    margin-top: $pokemon-list;
    width: $pokemon-list-width;
    border: $list-border;
    padding: $list-padding;
    border-radius: $list-border-radius
}

.pokemon-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.property-style {

    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: auto;
    align-items: center;
}

/* Style buttons inside the list*/
.add-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $add-size;
}

.delete-btn {
    background-color: $accent-color;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    margin: $add-radius;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $add-size;
}

/* Style the basket area*/
.th-heading{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}