@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    /*remove browser defualt settings*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $main-background-color;
}

/* Style header*/
.header-intro {
    background-color: $accent-color;
    text-align: $center-text;
    color: $font-alternative-color;
    height: $height-header;
}

/*style img header*/
.img-style {
    height: 87px;
    width: 87px;
    border-radius: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.under-header {
    background-color: #3b4444;
}

.pokemon-avatar {
    height: $pokemon-avatar-height;
    width: $pokemon-avatar-width;
    border-radius:$pokemon-avatar-radius;
}