/*Colors*/
/*Margin,padding,centering,height*/
/* image-style*/
/*pokemon array list style*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap");
* {
  /*remove browser defualt settings*/
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #d3d3d3;
}

/* Style header*/
.header-intro {
  background-color: #ee6c4d;
  text-align: center;
  color: #fff;
  height: 110px;
}

/*style img header*/
.img-style {
  height: 87px;
  width: 87px;
  border-radius: 50px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.under-header {
  background-color: #3b4444;
}

.pokemon-avatar {
  margin: 20px;
  height: 111px;
  width: 165px;
  border-radius: 100px;
}

/* Style the pokemon list*/
#pokemonList {
  list-style: none;
  margin-top: 80px;
  padding: 50px;
  border-radius: 30px;
}

.pokemon-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container-pokemon {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding: 20px;
}

.hr-list {
  width: 100%;
  height: 1px;
  background-color: #ee6c4d;
}

.property-style {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: auto;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  background-color: #f9f9f9;
}

.sort-links {
  text-align: center;
}

.sort-links a {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  transition: 0.3s ease;
}

.sort-links a:hover {
  background-color: #027944;
}

.add-btn:hover {
  background-color: #027944;
}

.delete-btn:hover {
  background-color: #cc583b;
}

/* Style buttons inside the list*/
.add-btn {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition: 0.3s ease;
}

.delete-btn {
  background-color: #ee6c4d;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  transition: 0.3s ease;
}

/* Style the basket area*/
.th-heading {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#basket-btn {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#confirm-payment-btn {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

#clear-basket-btn {
  background-color: #04AA6D;
  border: none;
  cursor: pointer;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.btn-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.btn-basket-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
}

.btn-basket-container-hide {
  display: none;
}

.total-bill-basket {
  background-color: #000;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

.total-pcs-basket {
  background-color: #000;
  border: none;
  border-radius: 20px;
  color: #fff;
  padding: 6px 23px;
  text-align: center;
  margin: 20px;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
}

/* Style the form*/
.form-container-hide {
  display: none;
}/*# sourceMappingURL=style.css.map */