@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto&display=swap');

* {
    /*remove browser defualt settings*/
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: $main-background-color;
}

/* Style header*/
.header-intro {
    background-color: $accent-color;
    text-align: $center-text;
    color: $font-alternative-color;
    height: $height-header;
}

/*style img header*/
.img-style {
    height: 87px;
    width: 87px;
    border-radius: 50px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.under-header {
    background-color: #3b4444;
}

.pokemon-avatar {
    margin: $pokemon-avatar-margin;
    height: $pokemon-avatar-height;
    width: $pokemon-avatar-width;
    border-radius: $pokemon-avatar-radius;
}

/* Style the pokemon list*/
#pokemonList {
    list-style: none;
    margin-top: $pokemon-list;
    padding: $list-padding;
    border-radius: $list-border-radius
}

.pokemon-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container-pokemon {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 40px;
    
}

.hr-list {
    width: 100%;
    height: 1px;
    background-color: $accent-color;
}

.property-style {
    border: $list-border;
    display: flex;
    flex-direction: column;
    width: $pokemon-list-width;
    box-shadow: $list-shadow;
    padding: 20px;
    margin: auto;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
}

.sort-links {
    text-align: center;
}

.sort-links a {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    transition: $hover-transition;
}

.sort-links a:hover {
    background-color: $hover-color-add;
}

.add-btn:hover {
    background-color: $hover-color-add;
}

.delete-btn:hover {
    background-color: $hover-color-delete;
}

/* Style buttons inside the list*/
.add-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $add-size;
    transition: $hover-transition;
}

.delete-btn {
    background-color: $accent-color;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    margin: $add-radius;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $add-size;
    transition: $hover-transition;
}

/* Style the basket area*/
.th-heading {
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

#basket-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size
}

.hide-container {
    display: none;
}

.visible {
    display: block;
}

.container-basket-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
    padding: 20px;
    justify-items: center;
}


#confirm-payment-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size
}

#clear-basket-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size;
}

#home-btn {
    background-color: $add-btn;
    border: none;
    cursor: pointer;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size
}

.btn-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.btn-basket-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.btn-basket-container {
    display: none;
}

.form-container {
    display: none;
}

.total-bill-basket {
    background-color: $font-color;
    border: none;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size
}

.total-pcs-basket {
    background-color: $font-color;
    border: none;
    border-radius: $add-radius;
    color: $add-btn-color;
    padding: 6px 23px;
    text-align: center;
    margin: $add-radius;
    text-decoration: none;
    display: inline-block;
    font-size: $payment-font-size
}

/* Style the form*/
.form-container {
    display: none;
}

.grid-basket-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}